<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Xprint</title>
    <link rel="icon" type="image/x-icon" href="~/lib/favicon.ico">
    <link rel="stylesheet" href="~/css/thirdparty.bundle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pages/app-layout.css" asp-append-version="true" />
    <script src="~/js/site.thirdparty.bundle.js" asp-append-version="true"></script>
</head>
@using DevExtremeVSTemplateMVC.Models
<body class="dx-viewport dx-cloak">
    <div class="app-header">
        <div id="toolbar"></div>
    </div>
    <div id="app-drawer">
        <div class="main-content-wrapper">
            <main class="main-content">
                @RenderBody()
            </main>
            <footer class="app-footer">
                &copy; @DateTime.Now.Year - Nền tảng quản lý báo cáo tập trung Xprint
            </footer>
        </div>
    </div>

    <script>
        // Bơm dữ liệu từ C# xuống JS
        var appUrls = {
            homeIndex: '@Url.Action("Index", "Home")',
            reportsIndex: '@Url.Action("Index", "Reports")',
            reportsDesign: '@Url.Action("Design", "Reports")',
            reportsView: '@Url.Action("View", "Reports")',
            userIndex: '@Url.Action("Index", "User")',
            authLogout: '@Url.Action("Logout", "Auth")'
        };
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>